#include "newprn.h"

MENU ID_HOLD LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   MENUITEM "~Hold", ID_HOLD
END

MENU ID_RELEASE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   MENUITEM "~Release", ID_RELEASE
END








